**/*.js.liquid
assets/leaflet.js
**/*.geojson
.husky

# From .gitignore: yes, it's not automatically extended
_site
.sass-cache
.jekyll-metadata
.DS_Store
.vscode
.idea
node_modules
_experts
_streams
blame.json
jest_output.json
blame.md